---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: dags.workflow.nautikus.io
spec:
  group: workflow.nautikus.io
  names:
    kind: Dag
    listKind: DagList
    plural: dags
    singular: dag
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Dag is the Schema for the dags API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DagSpec defines the complete specification of a DAG as defined
              by the user.
            properties:
              tasks:
                items:
                  description: TaskSpec defines the task spec
                  properties:
                    command:
                      description: Execution details for each task type
                      type: string
                    dependencies:
                      items:
                        type: string
                      type: array
                    env:
                      additionalProperties:
                        type: string
                      type: object
                    image:
                      type: string
                    name:
                      type: string
                    script:
                      type: string
                    type:
                      description: TaskType defines the type of task
                      type: string
                  required:
                  - name
                  - type
                  type: object
                type: array
            required:
            - tasks
            type: object
          status:
            description: DagStatus represents the overall status of the entire DAG.
            properties:
              state:
                description: TaskState represents the current state of an individual
                  task.
                type: string
              taskStatuses:
                items:
                  properties:
                    message:
                      type: string
                    name:
                      type: string
                    podName:
                      type: string
                    state:
                      description: TaskState represents the current state of an individual
                        task.
                      type: string
                  required:
                  - name
                  - state
                  type: object
                type: array
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
