---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: dags.workflow.gostration.io
spec:
  group: workflow.gostration.io
  names:
    kind: Dag
    listKind: DagList
    plural: dags
    singular: dag
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Dag is the Schema for the dags API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DagSpec은 사용자가 정의하는 DAG의 전체 명세입니다.
            properties:
              tasks:
                items:
                  description: TaskSpec은 DAG 내부의 개별 작업 단위입니다.
                  properties:
                    command:
                      description: Operator별 실행 내용
                      type: string
                    dependencies:
                      items:
                        type: string
                      type: array
                    image:
                      type: string
                    name:
                      type: string
                    script:
                      type: string
                    type:
                      description: TaskType은 지원할 Operator 종류를 정의합니다.
                      type: string
                  required:
                  - name
                  - type
                  type: object
                type: array
            required:
            - tasks
            type: object
          status:
            description: DagStatus는 DAG 전체의 상태입니다.
            properties:
              state:
                description: TaskStatus는 개별 Task의 현재 상태입니다.
                type: string
              taskStatuses:
                items:
                  properties:
                    message:
                      type: string
                    name:
                      type: string
                    podName:
                      type: string
                    state:
                      description: TaskStatus는 개별 Task의 현재 상태입니다.
                      type: string
                  required:
                  - name
                  - state
                  type: object
                type: array
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
